<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Management</title>
    <link rel="stylesheet" href="./styles/config.css">
</head>
<body>
    <% if (error != null) {%>
        <div class="error <%if (error!=null) {%> error-show <%}%>">
            <%if (error.status == 'error') {%>
                <svg class='error-ico' fill="red" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="30px" height="30px" viewBox="0 0 478.125 478.125"
                    xml:space="preserve">
                        <circle cx="239.904" cy="314.721" r="35.878"/>
                        <path d="M256.657,127.525h-31.9c-10.557,0-19.125,8.645-19.125,19.125v101.975c0,10.48,8.645,19.125,19.125,19.125h31.9
                            c10.48,0,19.125-8.645,19.125-19.125V146.65C275.782,136.17,267.138,127.525,256.657,127.525z"/>
                        <path d="M239.062,0C106.947,0,0,106.947,0,239.062s106.947,239.062,239.062,239.062c132.115,0,239.062-106.947,239.062-239.062
                            S371.178,0,239.062,0z M239.292,409.734c-94.171,0-170.595-76.348-170.595-170.596c0-94.248,76.347-170.595,170.595-170.595
                            s170.595,76.347,170.595,170.595C409.887,333.387,333.464,409.734,239.292,409.734z"/>
                </svg>
            <% } else {%>
                <svg class="ack-ico" width="30px" height="30px" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L12.7348 11.2045L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z" />
                </svg>
            <% } %>
            <p><%=error.message%></p>
        </div>
    <% }%>
    <div class="return">
        <a href="/">
            <svg width="30px" height="30px" viewBox="-112.64 -112.64 1249.28 1249.28" xmlns="http://www.w3.org/2000/svg" fill="white">
                <path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"/>
            </svg>
        </a>
    </div>
    <!-- HIDDEN FORM -->
    <form action="/config" method="post">
        <input type="text" name="db_selected" id="db_selected" value="<%=db_selected%>">
        <input type="text" name="config0" id="config0" value="<%=config[0]%>">
        <input type="text" name="config1" id="config1" value="<%=config[1]%>">
        <input type="text" name="config2" id="config2" value="<%=config[2]%>">
        <button type="submit" name="button" id="formSubmit">Select Node</button>
    </form>

    <div class="main">
        <h1 class="title">Node Selection</h1>

        <div class="node-selection">
            <section id="node-1">
                <h1>Node 1</h1>
                <svg class="db-icon" width="200px" height="200px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 10C16.4183 10 20 8.20914 20 6C20 3.79086 16.4183 2 12 2C7.58172 2 4 3.79086 4 6C4 8.20914 7.58172 10 12 10Z" fill="<%if (db_selected == 0) {%> #f2b236 <%} else {%> #ffff <%}%>"/>
                    <path opacity="0.5" d="M4 12V18C4 20.2091 7.58172 22 12 22C16.4183 22 20 20.2091 20 18V12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12Z" fill="<%if (db_selected == 0) {%> #f2b236 <%} else {%> #718794 <%}%>"/>
                    <path opacity="0.7" d="M4 6V12C4 14.2091 7.58172 16 12 16C16.4183 16 20 14.2091 20 12V6C20 8.20914 16.4183 10 12 10C7.58172 10 4 8.20914 4 6Z" fill="<%if (db_selected == 0) {%> #f2b236 <%} else {%> #A8BEC9 <%}%>"/>
                </svg>
                <p>Center Node</p>
                <% if (db_selected == 0) { %>
                    <p><em>SELECTED</em></p>
                <%}%>
            </section>

            <section id="node-2">
                <h1>Node 2</h1>
                <svg class="db-icon" width="200px" height="200px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 10C16.4183 10 20 8.20914 20 6C20 3.79086 16.4183 2 12 2C7.58172 2 4 3.79086 4 6C4 8.20914 7.58172 10 12 10Z" fill="<%if (db_selected == 1) {%> #f2b236 <%} else {%> #ffff <%}%>"/>
                    <path opacity="0.5" d="M4 12V18C4 20.2091 7.58172 22 12 22C16.4183 22 20 20.2091 20 18V12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12Z" fill="<%if (db_selected == 1) {%> #f2b236 <%} else {%> #718794 <%}%>"/>
                    <path opacity="0.7" d="M4 6V12C4 14.2091 7.58172 16 12 16C16.4183 16 20 14.2091 20 12V6C20 8.20914 16.4183 10 12 10C7.58172 10 4 8.20914 4 6Z" fill="<%if (db_selected == 1) {%> #f2b236 <%} else {%> #A8BEC9 <%}%>"/>
                </svg>
                <p>Luzon Node</p>
                <% if (db_selected == 1) { %>
                    <p class="selected">SELECTED</p>
                <%}%>
            </section>

            <section id="node-3">
                <h1>Node 3</h1>
                <svg class="db-icon" width="200px" height="200px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 10C16.4183 10 20 8.20914 20 6C20 3.79086 16.4183 2 12 2C7.58172 2 4 3.79086 4 6C4 8.20914 7.58172 10 12 10Z" fill="<%if (db_selected == 2) {%> #f2b236 <%} else {%> #ffff <%}%>"/>
                    <path opacity="0.5" d="M4 12V18C4 20.2091 7.58172 22 12 22C16.4183 22 20 20.2091 20 18V12C20 14.2091 16.4183 16 12 16C7.58172 16 4 14.2091 4 12Z" fill="<%if (db_selected == 2) {%> #f2b236 <%} else {%> #718794 <%}%>"/>
                    <path opacity="0.7" d="M4 6V12C4 14.2091 7.58172 16 12 16C16.4183 16 20 14.2091 20 12V6C20 8.20914 16.4183 10 12 10C7.58172 10 4 8.20914 4 6Z" fill="<%if (db_selected == 2) {%> #f2b236 <%} else {%> #A8BEC9 <%}%>"/>
                </svg>
                <p>Visayas & Mindanao Node</p>
                <% if (db_selected == 2) { %>
                    <p class="selected">SELECTED</p>
                <%}%>
            </section>
        </div>

        <div class="node-on">
            <div class="btn <% if (config[0] == true) {%> on-state <%} else {%> off-state <%}%>" id="btn-1">
                <div class="node-button">
                    <h1>l</h1>
                    <h1 class="o">O</h1>
                </div>
                <div class="btn-circle"></div>
            </div>
            
            <div class="btn <% if (config[1] == true) {%> on-state <%} else {%> off-state <%}%>" id="btn-2">
                <div class="node-button">
                    <h1>l</h1>
                    <h1 class="o">O</h1>
                </div>
                <div class="btn-circle"></div>
            </div>

            <div class="btn <% if (config[2] == true) {%> on-state <%} else {%> off-state <%}%>" id="btn-3">
                <div class="node-button">
                    <h1>l</h1>
                    <h1 class="o">O</h1>
                </div>
                <div class="btn-circle"></div>
            </div>
        </div>
    </div>
</body>
<script>
    const current_node = "<%=db_selected%>";
    const submit = document.getElementById("formSubmit");
    const dbSelection = document.getElementById("db_selected");
    const config = [
        document.getElementById("config0"), 
        document.getElementById("config1"), 
        document.getElementById("config2")
    ];
    const selection = document.querySelectorAll('.db-icon');
    const nodeButtons = document.querySelectorAll('.btn');
    selection.forEach(db => {
        db.addEventListener('click', (e) => {
            selectedNode = db.parentElement.id.slice(-1) - 1;
            dbSelection.value = selectedNode;
            if (current_node != selectedNode)
                submit.click();
        });
    });

    nodeButtons.forEach(btn => {
        btn.addEventListener('click', (e) => {
            const index = btn.id.slice(-1) - 1;
            const selected = config[index];
            if (selected.value == "true"){
                selected.value = "false";
            } else {
                selected.value = "true";
            }
            submit.click();
        });
    });
</script>
</html>