<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Concurrency & Recovery</title>
    <link rel="stylesheet" href="styles/create.css">
</head>
<body>
    <div class="return">
        <a href="/">
            <svg width="30px" height="30px" viewBox="-112.64 -112.64 1249.28 1249.28" xmlns="http://www.w3.org/2000/svg" fill="white">
                <path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"/>
            </svg>
        </a>
    </div>
    <h1 class="title">Add Appointment</h1>
    <form action="">
        <h1 class="subtitle a">Appointment Information</h1>
        <!-- TYPE -->
        <div class="type">
            <p class="label">Appointment Type</p>
            <div class="radio">
                <input type="radio" id="consultation" name="type" value="Consultation">
                <label for="consultation">Consultation</label>
            </div>
            <div class="radio">
                <input type="radio" id="inpatient" name="type" value="Inpatient">
                <label for="inpatient">Inpatient</label>
            </div>
        </div>
        <!-- VIRTUAL -->
        <div class="Virtual">
            <p class="label">Mode of Appointment</p>
            <div class="radio">
                <input type="radio" id="virtual" name="Virtual" value="1">
                <label for="consultation">Virtual</label>
            </div>
            <div class="radio">
                <input type="radio" id="f2f" name="Virtual" value="0">
                <label for="f2f">Face-to-Face</label>
            </div>
        </div>
        <!-- MAIN SPECIALTY -->
        <div class="mainspecialty">
            <label class="label" for="mainspecialty">Doctor's Specialty</label>
            <select class="inputString" name="mainspecialty">
                <% specialties.forEach((specialty) => { %>
                    <option value="<%= specialty %>"><%= specialty %></option>
                <% }) %>
            </select>
        </div>

        <h1 class="subtitle h">Hospital Information</h1>
        <!-- ISHOSPITAL -->
        <div class="IsHospital">
            <p class="label">Hospital or Clinic</p>
            <div class="radio">
                <input type="radio" id="hospital" name="IsHospital" value="1">
                <label for="hospital">Hospital</label>
            </div>
            <div class="radio">
                <input type="radio" id="clinic" name="IsHospital" value="0">
                <label for="clinic">Clinic</label>
            </div>
        </div>
        <!-- CITY -->
        <div class="City">
            <label class="label" for="City">Hospital/Clinic City</label>
            <select class="inputString" name="City">
                <% cities.forEach((city) => { %>
                    <option value="<%= city %>"><%= city %></option>
                <% }) %>
            </select>
        </div>
        <!-- PROVINCE -->
        <div class="Province">
            <label class="label" for="Province">Hospital/Clinic Province</label>
            <select class="inputString" name="Province">
                <% provinces.forEach((province) => { %>
                    <option value="<%= province %>"><%= province %></option>
                <% }) %>
            </select>
        </div>
        <!-- REGION NAME -->
        <div class="RegionName">
            <label class="label" for="RegionName">Hospital/Clinic Region</label>
            <select class="inputString" name="RegionName">
                <% regions.forEach((region) => { %>
                    <option value="<%= region %>"><%= region %></option>
                <% }) %>
            </select>
        </div>
        
        <h1 class="subtitle p">Patient Information</h1>
        <!-- PATIENT AGE -->
        <div class="patientage">
            <label class="label" for="patientage">Patient Age</label>
            <input class="inputString" type="number" min="0" max="100">
        </div>
        <!-- PATIENT GENDER -->
        <div class="patientgender">
            <p class="label">Patient Sex</p>
            <div class="radio">
                <input type="radio" id="female" name="patientgender" value="FEMALE">
                <label for="female">Female</label>
            </div>
            <div class="radio">
                <input type="radio" id="male" name="patientgender" value="MALE">
                <label for="male">Male</label>
            </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" name="button">Create Appointment</button>
    </form>
</body>
</html>