<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Concurrency & Recovery</title>
    <link rel="stylesheet" href="styles/read.css">
</head>
<body>
    <% if (error != null) {%>
        <div class="error <%if (error!=null) {%> error-show <%}%>">
            <%if (error.status == 'error') {%>
                <svg class='error-ico' fill="red" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="30px" height="30px" viewBox="0 0 478.125 478.125"
                    xml:space="preserve">
                        <circle cx="239.904" cy="314.721" r="35.878"/>
                        <path d="M256.657,127.525h-31.9c-10.557,0-19.125,8.645-19.125,19.125v101.975c0,10.48,8.645,19.125,19.125,19.125h31.9
                            c10.48,0,19.125-8.645,19.125-19.125V146.65C275.782,136.17,267.138,127.525,256.657,127.525z"/>
                        <path d="M239.062,0C106.947,0,0,106.947,0,239.062s106.947,239.062,239.062,239.062c132.115,0,239.062-106.947,239.062-239.062
                            S371.178,0,239.062,0z M239.292,409.734c-94.171,0-170.595-76.348-170.595-170.596c0-94.248,76.347-170.595,170.595-170.595
                            s170.595,76.347,170.595,170.595C409.887,333.387,333.464,409.734,239.292,409.734z"/>
                </svg>
            <% } else {%>
                <svg class="ack-ico" width="30px" height="30px" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L12.7348 11.2045L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z" />
                </svg>
            <% } %>
            <p><%=error.message%></p>
        </div>
    <% }%>
    <div class="return">
        <a href="/">
            <svg width="30px" height="30px" viewBox="-112.64 -112.64 1249.28 1249.28" xmlns="http://www.w3.org/2000/svg" fill="white">
                <path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"/>
            </svg>
        </a>
    </div>
    <h1 class="title">Search Appointment</h1>
    <form action="/read" method="post">
        <!-- APPT ID -->
        <div class="apptid">
            <label for="apptid"><h1 class="subtitle">Appointment ID to Search: </h1></label>
            <input class="inputString" name="apptid" type="text">
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" name="button">Search Appointment</button>
    </form>
    <hr>
    <section class="result">
        <h1 class="subtitle">Search Result:</h1>
        <div>
            <% if (results != null) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Fields</th><th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>status</td>         <td><%=results.status%></td>
                        </tr>
                        <tr>
                            <td>Virtual</td>        <td><%=results.Virtual%></td>
                        </tr>
                        <tr>
                            <td>TimeQueued</td>     <td><%=results.TimeQueued%></td>
                        </tr>
                        <tr>
                            <td>QueueDate</td>      <td><%=results.QueueDate%></td>
                        </tr>
                        <tr>
                            <td>StartTime</td>      <td><%=results.StartTime%></td>
                        </tr>
                        <tr>
                            <td>EndTime</td>        <td><%=results.EndTime%></td>
                        </tr>
                        <tr>
                            <td>type</td>           <td><%=results.type%></td>
                        </tr>
                        <tr>
                            <td>hospitalname</td>   <td><%=results.hospitalname%></td>
                        </tr>
                        <tr>
                            <td>IsHospital</td>     <td><%=results.IsHospital%></td>
                        </tr>
                        <tr>
                            <td>City</td>           <td><%=results.City%></td>
                        </tr>
                        <tr>
                            <td>Province</td>       <td><%=results.Province%></td>
                        </tr>
                        <tr>
                            <td>RegionName</td>     <td><%=results.RegionName%></td>
                        </tr>
                        <tr>
                            <td>patientage</td>     <td><%=results.patientage%></td>
                        </tr>
                        <tr>
                            <td>patientgender</td>  <td><%=results.patientgender%></td>
                        </tr>
                    </tbody>
                </table>
            <%} else if (apptid != null){%>
                <p>No results with apptid "<%=apptid%>"</p>
            <%}%>
        </div>
    </section>
</body>
</html>